{{> navbar user }}
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron">
                <h1 class="display-6">Dogs</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Picture</th>
                            <th scope="col">Name</th>
                            <th scope="col">Breed</th>
                            <th scope="col">Age</th>
                            <th scope="col">Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each animal}}
                        <tr class="table">
                            <td>
                                <div class="card" style="width: 18rem;">
                                    <a href="{{picture}}" class="w-25"></a>
                                    <img src="https://tse2.mm.bing.net/th?id=OIP.cfKRhoSxncQ_FpNrZYoavAHaE8&pid=Api&P=0&w=249&h=167"
                                        class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <p class="card-text">{{bio}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>{{name}}</td>
                            <td>{{breed}}</td>
                            <td>{{age}} years old</td>
                            <td>{{weight}} lbs.</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
=======
<div class="container">
    <div class="jumbotron"
        style="background-image: url(http://s3.serverdata.com/www.garysdoggrooming.com/files/sub-headers/faq-windows-header.jpg);">

        <h1 class="jumbotronTitle">Dogs</h1>
    </div>
</div>


<div class="container">
    <div class="allAnimalTable">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Species</th>
                    <th scope="col">Age</th>
                    <th scope="col">Weight</th>
                </tr>
            </thead>
            <tbody>
                {{#each animal}}
                <tr class="table-active">

                    <th scope="row"><a href="/allAnimals/{{id}}">{{name}}</a></th>
                    <td>{{picture}}</td>
                    <td>{{species}}</td>
                    <td>{{age}} years old</td>
                    <td>{{weight}} lbs.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<br>
