{{> navbar user }}
<div class="container">
    <div class="jumbotron"
        style="background-image: url(http://s3.serverdata.com/www.garysdoggrooming.com/files/sub-headers/faq-windows-header.jpg);">

        <h1 class="jumbotronTitle">{{animal.name}}</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col" id="animalImgCol">
            <img src="{{animal.picture}}"
                id="animalImage">
        </div>
        <div class="col">
            <div class="informationBox mb-3">
                <div class="card-header">Other Information</div>
                <div class="card-body">
                    <p class="card-text" id="date"></p>Date into shelter: {{date}}</p>
                    <p class="card-text">{{animal.age}} years old</p>
                    <p class="card-text">{{animal.weight}} lbs</p>
                    <p class="card-text">{{animal.name}}'s bio: {{animal.bio}}</p>
                    {{!-- add other information --}}
                </div>
            </div>
        </div>
    </div>
</div>





{{!-- add updates from employee --}}