{{> navbar user }}
<div class="container">
    <div class="jumbotron"
        style="background-image: url(http://s3.serverdata.com/www.garysdoggrooming.com/files/sub-headers/faq-windows-header.jpg);">

        <h1 class="jumbotronTitle">{{animal.name}}</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col" id="animalImgCol">
            <img src="{{animal.picture}}" id="animalImage">
        </div>
        <div class="col">
            <div class="informationBox mb-3">
                <div class="card-header">Other Information</div>
                <div class="card-body">
                    <p class="card-text" id="date"></p>Date into shelter: {{date}}</p>
                    <p class="card-text">{{animal.age}} years old</p>
                    <p class="card-text">{{animal.weight}} lbs</p>
                    <p class="card-text">{{animal.name}}'s bio: {{animal.bio}}</p>
                    {{#if user.isEmployee}}
                    <button id="delete" data-id="{{animal.id}}">Remove Animal from Database</button>
                    {{/if}}
                    {{!-- add other information --}}
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#delete").on("click", function (event) {
        event.preventDefault();
        $.ajax({
            method: "DELETE",
            url: `/api/allAnimals/${$("#delete").attr("data-id")}`
        }).then(response => {
            window.location.href = "/allAnimals";
            return false;
        });


    })
</script>


{{!-- add updates from employee --}}